* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-8208.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.city-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.row img {
  width: 350px;
}
.paris img {
  height: 233px;
}
.istanbul img {
  height: 228px;
}
.bishkek,
.paris,
.rome,
.istanbul {
  display: flex;
  flex-direction: column;
}
button {
  width: 350px;
  height: 40px;
}
